.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  background-image: url("https://img.freepik.com/free-photo/front-view-woman-with-shopping-bag-concept_23-2148674158.jpg?size=626&ext=jpg&ga=GA1.2.60099238.1679983480&semt=sph");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4f3ee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 1.2rem;
}

thead {
  background-color:#6e3838;
  color:#fff;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

td img {
  max-width: 50px;
  max-height: 50px;
}

tfoot td {
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
}

button {
  background-color: #6e3838;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn {
  padding: 10px;
  background-color: #0e100e;
  color: white;
  border: none;
  text-align: center;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
}

tfoot td:last-child {
  text-align: left;

}


