<style>
   table th,
   td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
</style>
<table>
  <thead>
    <tr>
      <td>Names</td>
      <td>Details</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Varshini</td>
      <td><a [routerLink]="['/employeelink']">Varshini</a><br/></td>
    </tr>
    <tr>
      <td>Likhitha</td>
      <td><a [routerLink]="['/employeedetailslink']">Likhitha</a></td>
    </tr>
  </tbody>
</table>

<div>
  <router-outlet>
  </router-outlet>
</div>